/* @import "bootstrap/dist/css/bootstrap.min.css"; */

#ShowData6Sec {
    visibility: visible;
    animation: hide-text 10s forwards;
  }
  
  @keyframes hide-text {
    to {
      visibility: hidden;
    }
  }